/**
* {{#description}}{{.}}{{/description}}{{^description}}{{classname}}{{/description}}
*/
public interface {{classname}}{{#parent}} extends {{{.}}}{{/parent}} {
{{#vars}}
    {{^isInherited}}
    {{#isEnum}}

        {{^isContainer}}
{{>modelInnerEnum}}
        {{/isContainer}}
        {{#isContainer}}
            {{#mostInnerItems}}
{{>modelInnerEnum}}
            {{/mostInnerItems}}
        {{/isContainer}}
    {{/isEnum}}
    {{/isInherited}}
{{/vars}}

    List<String> missingRequiredFields();

    void readOnlyFieldsWithValue(List<String> result);

{{#allVars}}
    {{^isInherited}}
    {{#isArray}}

    <T> {{classname}} {{name}}(Collection<T> items, Function<T, {{{items.datatypeWithEnum}}}> mapper);

    <T> {{#uniqueItems}}Set{{/uniqueItems}}{{^uniqueItems}}List{{/uniqueItems}}<T> {{getter}}(Function<{{{items.datatypeWithEnum}}}, T> mapper);

    {{classname}} add{{nameInPascalCase}}Item({{{items.datatypeWithEnum}}} {{name}}Item);
    {{/isArray}}
    {{#isMap}}

    {{classname}} put{{nameInPascalCase}}Item(String key, {{{items.datatypeWithEnum}}} {{name}}Item);
    {{/isMap}}

    /**
    {{#description}}
     * {{description}}
    {{/description}}
    {{^description}}
     * Get {{baseName}}
    {{/description}}
    {{#example}}
     * example: {{example}}
    {{/example}}
    {{#minimum}}
     * minimum: {{minimum}}
    {{/minimum}}
    {{#maximum}}
     * maximum: {{maximum}}
    {{/maximum}}
    {{#isReadOnly}}
     * read only
    {{/isReadOnly}}
     * @return {{baseName}}
     */
    {{#vendorExtensions.extraAnnotation}}
        {{{vendorExtensions.extraAnnotation}}}
    {{/vendorExtensions.extraAnnotation}}
    {{{datatypeWithEnum}}} {{getter}}();

    {{#isReadOnly}}
    /** <strong>read only</strong> */
    {{/isReadOnly}}
    void {{setter}}({{{datatypeWithEnum}}} {{name}});

    {{classname}} {{name}}({{{datatypeWithEnum}}} {{name}});
    {{/isInherited}}
    {{#isInherited}}
    {{#isArray}}

    @Override
    <T> {{classname}} {{name}}(Collection<T> items, Function<T, {{{items.datatypeWithEnum}}}> mapper);

    @Override
    {{classname}} add{{nameInPascalCase}}Item({{{items.datatypeWithEnum}}} {{name}}Item);
    {{/isArray}}
    {{#isMap}}

    @Override
    {{classname}} put{{nameInPascalCase}}Item(String key, {{{items.datatypeWithEnum}}} {{name}}Item);
    {{/isMap}}

    @Override
    {{classname}} {{name}}({{{datatypeWithEnum}}} {{name}});
    {{/isInherited}}
{{/allVars}}

    default <T extends {{classname}}> T copyTo(T target) {
{{#allVars}}
        if (this.{{getter}}() != null) target.{{setter}}(this.{{getter}}());
{{/allVars}}
        return target;
    }
}
