/*
 * FakeRESTApi.Web V1
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: v1
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.github.jhannes.openapi.fakerestapi.api;

import io.github.jhannes.openapi.fakerestapi.model.*;

import io.github.jhannes.openapi.fakerestapi.model.UserDto;

import org.actioncontroller.actions.*;
import org.actioncontroller.values.*;
import org.actioncontroller.values.json.JsonBody;

import java.io.IOException;
import java.net.URI;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.Optional;
import java.util.function.Consumer;

public interface UsersApi {
    /**
     * @return List&lt;UserDto&gt;
     */
    @GET("/api/v1/Users")
    @JsonBody
    public List<UserDto> apiV1UsersGet(
    ) throws IOException;
    /**
     * @param id  (required)
     */
    @DELETE("/api/v1/Users/{id}")
    public void apiV1UsersIdDelete(
            @PathParam("id") Integer id
    ) throws IOException;
    /**
     * @param id  (required)
     */
    @GET("/api/v1/Users/{id}")
    public void apiV1UsersIdGet(
            @PathParam("id") Integer id
    ) throws IOException;
    /**
     * @param id  (required)
     * @param userDto  (optional)
     */
    @PUT("/api/v1/Users/{id}")
    public void apiV1UsersIdPut(
            @PathParam("id") Integer id,
            @JsonBody UserDto userDto
    ) throws IOException;
    /**
     * @param userDto  (optional)
     */
    @POST("/api/v1/Users")
    public void apiV1UsersPost(
            @JsonBody UserDto userDto
    ) throws IOException;
}
