/*
 * Infection Tracker
 * Infection Tracker - A case management system for tracking the spread of diseases
 *
 * The version of the OpenAPI document: 1.0.0-draft
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.github.jhannes.openapi.infectionTracker.api;

import io.github.jhannes.openapi.infectionTracker.model.*;

import io.github.jhannes.openapi.infectionTracker.model.CaseWorkerDto;

import org.actioncontroller.actions.*;
import org.actioncontroller.values.*;
import org.actioncontroller.values.json.JsonBody;

import java.io.IOException;
import java.net.URI;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.Optional;
import java.util.function.Consumer;

public interface CaseWorkersApi {
    /**
     * 
     * 
     * @return CaseWorkerDto
     */
    @GET("/api/caseWorkers")
    @JsonBody
    public CaseWorkerDto listCaseWorkers(
    ) throws IOException;
    /**
     * 
     * 
     * @param caseWorkerDto  (optional)
     */
    @POST("/api/caseWorkers")
    public void registerCaseWorker(
            @JsonBody CaseWorkerDto caseWorkerDto
    ) throws IOException;
}
